
.footer-info {
    background-color: green;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    position: absolute;
    bottom: 23px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.a-button {
    display      : flex;
    flex-direction: row;
    width        : 100%;
    padding      : 14px;
    justify-content   : center;
    border-radius: 3px; // variable
    font-weight  : 700;
    border: none;
    font-family: "Quicksand";
    transition: all .5s ease-in-out;
    text-decoration: none;
    &.a-button-darkblue {
        background-color: #576A90;
        color           : white;
        text-transform  : uppercase;
        &:hover {
            background-color: darken(#576A90, 8%);
            color: darken(white, 5%);
        }
    }
    &.a-button-green {
        background-color: #76C69F;
        color           : white;
        text-transform  : uppercase;
        &:hover {
            background-color: darken(#76C69F, 30%);
            color: darken(white, 5%);
        }
    }
    &.a-button-gray {
        background-color: #DDDDDD;
        color           : white;
        margin-right: 10px;
        text-transform  : uppercase;
        &:hover {
            background-color: darken(#DDDDDD, 8%);
            color: darken(white, 5%);
        }
    }
    &.a-button-dark {
        background-color: rgba(#000, 0.2);
        color           : white;
        text-transform  : uppercase;
    }
    &.a-button-red {
        background-color: #F97A7A;
        color           : white;
        text-transform  : uppercase;
    }
    &.a-button-pink {
        background-color: #EC6B87;
        color           : white;
        text-transform  : uppercase;
        &:hover {
            background-color: darken(#EC6B87, 8%);
            color: darken(white, 5%);
        }
    }
    &.a-button-blue {
        background-color: #4A90E2;
        color           : white;
        text-transform  : uppercase;
        &:hover {
            background-color: darken(#4A90E2, 8%);
            color: darken(white, 5%);
        }
    }
    &.a-button-purple {
        background-color: rgb(61, 57, 117);
        color: #FFF;
        text-transform: uppercase;
        &:hover {
            background-color: darken(#463E96, 8%);
            color: darken(white, 5%);
        }
    }
    &.disable{
        opacity: .7;
        cursor: not-allowed;
    }

    &-big {
        border-radius: 6px;
        height: 60px;
    }
}
